/*-------------------------------------------------------------------------------------------------------------------------------------------*/
/*about.html CSS*/

/* ID used for the <h1> of the about page */
#aboutheading {
    text-align: center;
    color: #00ff48;
}

/* used for making a CSS grid containing the 4 main parts of the page, sets up size of each row and column using fraction measurement */
.containerabout {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr 3fr;
    gap: 10px;
    justify-items: stretch;
    align-items: stretch;
    justify-content: start;
    align-content: start;
    grid-auto-flow: row;
    width: 90%;
    margin: 0%;
    padding: 15px;
}

/* media query used to allow the container to adjust size based on smaller screens */
/* this section of code is from the week 5 lessons on canvas */
@media only screen and (max-width: 768px) {
    .containerabout {
        width: 100%;
        padding: 10px;
    }
}

/* id for the <section> that is group information */
#groupinfo {
    grid-column: auto;
    grid-row: auto;
    justify-self: center;
    align-self: auto;
    grid-area: auto;
    order: 0;
    color: #00ff48;
    border-radius: 15px;
    padding: 2%;
    margin: auto;
}

/* id for <h2> of group information section */
#groupinfoheading {
    text-align: center;
}

/* id for group photo section <h2 element */
#groupphotoheading {
    text-align: center;
}

/* id for the <section> containing the group photo and accompanying elements */
#figsec {
    grid-column: auto;
    grid-row: auto;
    justify-self: center;
    align-self: auto;
    grid-area: auto;
    order: 0;
    color: #00ff48;
    text-align: center;
    border-radius: 15px;
    float: right;
}

/* styling the figure caption in the figure section*/
#figcapabout {
    color: #00ff48;
    text-align: center;
}

/* styling the <img> in the group photo section */
#grouppic {
    border: solid 2px #00ff48;
    max-width: 100%;
    height: auto;
}

/* id for <h2> of contributions section*/
#contributionsheading {
    text-align: center;
}

/* id for the <section> that is about the group contributions */
#contributions {
    grid-column: auto;
    grid-row: auto;
    justify-self: center;
    align-self: auto;
    grid-area: auto;
    order: 0;
    color: #00ff48;
    border-radius: 15px;
    padding: 2%;
    margin: auto;
}

/* id for the table <section> on about page */
#tablesection {
    grid-column: auto;
    grid-row: auto;
    justify-self: center;
    align-self: center;
    grid-area: auto;
    order: 0;
    color: #00ff48;
    caption-side: bottom;
    border-radius: 15px;
    padding: 2%;
    margin: auto;
}

/* id used for interest table <h2> element */
#intereststableheading {
    text-align: center;
    color: #00ff48;
}

/* id for caption of the table */
#tablecap {
    font-size: larger;
}

/* class is used here for styling as there are multiple of the same thing to be styled */
.tableheading {
    border: 1px solid;
    border-radius: 10px;
    font-weight: bold;
    padding: 10px;
    background-color: #000000;
}

/* class used to stlye multiple of the same thing */
.tableheading:hover {
    background-color: #00ff48;
    color: #000000;
}

/* class is used here for styling as there are multiple of the same thing to be styled */
.tablecell {
    background-color: #000000;
    border: 1px solid;
    border-radius: 10px;
    padding: 10px;
}

/* class used to stlye multiple of the same thing */
.tablecell:hover {
    background-color: #00ff48;
    color: #000000;
}