/*
filename: styles.css
author: Ethan Roden
created: 05/04/25
last modified: 11/04/25
description: Currently CSS for about page only
*/

/* main {
    background-color: #000000;
} */

.aboutmain {
    background-color: rgb(36, 35, 35);
}

#mainheading {
    text-align: center;
    font-family: sans-serif;
    color: #00ff48;
}

.containerabout {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr 3fr;
    gap: 10px;
    justify-items: stretch;
    align-items: stretch;
    justify-content: start;
    align-content: start;
    grid-auto-flow: row;
}

#groupinfo {
    grid-column: auto;
    grid-row: auto;
    justify-self: center;
    align-self: auto;
    grid-area: auto;
    order: 0;

    background-color: #000000;
    color: #00ff48;
    border-radius: 15px;
    padding: 2%;
    margin: 3%;
}

#figsec {
    grid-column: auto;
    grid-row: auto;
    justify-self: center;
    align-self: auto;
    grid-area: auto;
    order: 0;
    background-color: #000000;
    color: #00ff48;
    text-align: center;
    border-radius: 15px;
    float: right;
}

#figcapabout {
    color: #00ff48;
    text-align: center;
}

#grouppic {
    border: solid 5px red;
}

#contributions {
    grid-column: auto;
    grid-row: auto;
    justify-self: center;
    align-self: auto;
    grid-area: auto;
    order: 0;
    background-color: #000000;
    color: #00ff48;
    border-radius: 15px;
    padding: 2%;
    margin: 3%;
}

#tablesection {
    grid-column: auto;
    grid-row: auto;
    justify-self: center;
    align-self: center;
    grid-area: auto;
    order: 0;
    background-color: #000000;
    color: #00ff48;
    caption-side: bottom;
    border-radius: 15px;
    padding: 2%;
    margin: auto;
}

#inttableheading {
    text-align: center;
    font-family: sans-serif;
    color: #00ff48;
}

#tablecap {
    font-size: larger;
}

.tableheading {
    border: 1px solid;
    border-radius: 10px;
    font-weight: bold;
    padding: 3px;
}

.tableheading:hover {
    background-color: #00ff48;
    color: #000000;
}

.tablecell {
    border: 1px solid;
    border-radius: 10px;
    padding: 3px;
}

.tablecell:hover {
    background-color: #00ff48;
    color: #000000;
}