/**/

video
{
    background: linear-gradient(to right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    opacity: 0.95;
}
body
{
    background-color: #172817;
}
figure
{
    margin:0;
    position:relative;
}
#overlaytext {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    
}
#overlaytext h1
{
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    font-size: 6vmax;

}
#overlaytext p 
{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2vmax
}
.companydescription
{
    color: black;
    background-color: #a8a8a8b8;
    text-align: center;
    margin: 5vw;
    border-radius: 12px;
    padding:1vmax;
    box-shadow: 10 10 10 #dddd;
}
.companydescription p 
{
    font-size: 2vmax;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.companydescription h2
{
    font-size: 3vmax;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#companydescriptions
{
    max-width: 90vw;
    margin-right:5vw;
    margin-left:5vw;
    background-color:  #e2e2e2c2;
    padding-top: 0.1vw;
    padding-bottom: 0.1vw;  
}
